.star {
  position: absolute;
  background-color: #FFF;
  border-radius: 50%;
}

.point {
  position: absolute;
  border-radius: 50%;
  background-color: var(--space-black)
}

.point:nth-child(1) {
  top: -50%;
  left: -50%;
}

.point:nth-child(2) {
  top: -50%;
  left: 50%;
}

.point:nth-child(3) {
  top: 50%;
  left: 50%;
}

.point:nth-child(4) {
  top: 50%;
  left: -50%;
}